{{>header}}
<div style="background-color: #c0ee71;height: 100%; position: fixed; top: 0; right: 0; width: 20%;">
  <div class="jumbotron text-center" style="background-color: #c0ee7100;">
      <a href="/">
        <img src="img/logoTransparente.png" style="width: 50%;" >
      </a>
  </div>
  {{{mostrar}}}
  <form action="/registrar" method="get" id="registrar"></form>
  <form action="/login" method="get" id="logear"></form>
  <div class="form-group">
    <div class="text-center">
      <button class="btn btn-light" style="width: 117px; margin-bottom: 10px; border-radius: 20px;" form="registrar">Registrar</button>
      <br>
      <button class="btn btn-light" style="border-radius: 20px;" form="logear">Iniciar sesión</button>      
    </div>
  </div>
  {{>footer}}